@model List<RH.Services.RestApi.Models.ReportWebViewModel>;

@{
    ViewBag.Title = "گزارش";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="">
            <div class="card">
                <div class="card-header">
                    <h2>گزارش</h2>
                </div>
                <div class="card-block">

                    <div class="row">
                        <div class="col-md-12">
                            @*<form asp-controller="TilesWeb" asp-action="Index" method="get" class="form-horizontal ">
                                <div class="form-group row">

                                    <div class="col-md-6 col-lg-4 col-xl-2 mb-3">
                                        <label asp-for="Zoom" class="control-label">بزرگنمایی</label>
                                        <input name="Zoom" value="@ViewBag.Zoom" type="number" placeholder="بزرگنمایی" class="form-control" />
                                    </div>

                                    <div class="col-md-6 col-lg-4 col-xl-2 mb-3">
                                        <label asp-for="X" class="control-label">طول</label>
                                        <input name="X" value="@ViewBag.X" type="number" placeholder="طول" class="form-control" />
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xl-2 mb-3">
                                        <label asp-for="Y" class="control-label">عرض</label>
                                        <input name="Y" value="@ViewBag.Y" type="number" placeholder="عرض" class="form-control" />
                                    </div>

                                    <div class="col-md-6 col-lg-4 col-xl-2 mb-3 pull-left">
                                        <button type="submit" style="position: absolute; bottom: 0px;" class="btn btn-primary w-100">دریافت کاشی</button>
                                    </div>
                                </div>

                            </form>*@
                        </div>
                    </div>
                    @if (Model.Count!=0)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="row">

                                            <div class="col-md-12">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>ردیف</th>
                                                            <th>نوع</th>
                                                            <th>زمان شروع</th>
                                                            <th>زمان پایان</th>
                                                            <th>زمان اجرا (دقیقه)</th>
                                                            <th>تکمیل شده</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            int index = 0;
                                                            foreach (var record in Model)
                                                            {
                                                                index++;
                                                                <tr>
                                                                    <td class="align-middle">@index</td>
                                                                    <td class="align-middle">@record.Type</td>
                                                                    <td class="align-middle">@record.StartTime</td>
                                                                    <td class="align-middle">@record.EndTime</td>
                                                                    <td class="align-middle">@record.TimeDiff</td>
                                                                    <td class="align-middle">@record.Compeleted</td>
                                                                </tr>
                                                            }

                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-12">
                                داده ای برای نمایش وجود ندارد
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
