@model RH.Services.RestApi.Models.CityTileWebViewModel;

@{
    ViewBag.Title = "دما";
    Layout = "_Layout";
}


<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="">
            <div class="card">
                <div class="card-header">
                    <h2>دما</h2>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-controller="CityTileWeb" asp-action="Index" method="get" class="form-horizontal ">
                                <div class="form-group row">
                                    <div class="col-md-6 col-lg-4 col-xl-2 mb-3">
                                        <select id="cityTileType" name="cityTileType" class="form-control" value="@ViewBag.cityTileType">
                                            @if (ViewBag.cityTileType == "GFS")
                                            {
                                                <option value="GFS" selected="selected">GFS</option>
                                                <option value="ECMWF">ECMWF</option>
                                            }
                                            else
                                            {
                                                <option value="GFS">GFS</option>
                                                <option value="ECMWF" selected="selected">ECMWF</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xl-2 mb-3">
                                        <input name="Zoom" value="@ViewBag.Zoom" type="text" placeholder="بزرگنمایی" class="form-control" />
                                    </div>

                                    <div class="col-md-6 col-lg-4 col-xl-2 mb-3">
                                        <input name="X" value="@ViewBag.X" type="text" placeholder="طول" class="form-control" />
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xl-2 mb-3">
                                        <input name="Y" value="@ViewBag.Y" type="text" placeholder="عرض" class="form-control" />
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xl-2 mb-3">
                                        <input name="Date" value="@ViewBag.Date" type="datetime-local" placeholder="زمان" class="form-control" />
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xl-2 mb-3 pull-left">
                                        <button type="submit" class="btn btn-primary w-100">جستجو</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    @if (Model.HasData)
                    {

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-block">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>ردیف</th>
                                                    <th>X</th>
                                                    <th>Y</th>
                                                    <th>Time</th>
                                                    <th>Temperature</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int index = 0;
                                                    foreach (var record in Model.CityTiles)
                                                    {
                                                        index++;
                                                        <tr>
                                                            <td class="align-middle">@index</td>
                                                            <td class="align-middle">@record.X</td>
                                                            <td class="align-middle">@record.Y</td>
                                                            <td class="align-middle">@record.WindyDateTime</td>
                                                            <td class="align-middle">@record.DataString</td>
                                                        </tr>
                                                    }

                                                }
                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-12">
                                داده ای برای نمایش وجود ندارد
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>